mmfashion/checkpoint/vgg16.pth
mmfashion/checkpoint/Retrieve/vgg/global/epoch_100.pth
mmfashion/.eggs
mmfashion/build
mmfashion/dist
mmfashion/mmfashion.egg-info
mmfashion/checkpoint
mmfashion/data
mmfashion/mmfashion/__pycache__/

mmfashion/mmfashion/apis/__pycache__/

mmfashion/mmfashion/core/__pycache__/

mmfashion/mmfashion/core/evaluation/__pycache__/

mmfashion/mmfashion/datasets/__pycache__/

mmfashion/mmfashion/datasets/loader/__pycache__/

mmfashion/mmfashion/utils/__pycache__/

mmfashion/mmfashion/models/__pycache__/

mmfashion/mmfashion/models/attr_cate_predictor/__pycache__/

mmfashion/mmfashion/models/backbones/__pycache__/

mmfashion/mmfashion/models/concats/__pycache__/

mmfashion/mmfashion/models/embed_extractor/__pycache__/

mmfashion/mmfashion/models/fashion_recommender/__pycache__/

mmfashion/mmfashion/models/feature_extractor/__pycache__/

mmfashion/mmfashion/models/global_pool/__pycache__/

mmfashion/mmfashion/models/landmark_detector/__pycache__/

mmfashion/mmfashion/models/landmark_feature_extractor/__pycache__/

mmfashion/mmfashion/models/landmark_regression/__pycache__/

mmfashion/mmfashion/models/losses/__pycache__/

mmfashion/mmfashion/models/predictor/__pycache__/

mmfashion/mmfashion/models/retriever/__pycache__/

mmfashion/mmfashion/models/roi_pool/__pycache__/

mmfashion/mmfashion/models/triplet_net/__pycache__/

mmfashion/mmfashion/models/type_specific_net/__pycache__/

mmfashion/mmfashion/models/unet/__pycache__/

mmfashion/mmfashion/models/virtual_tryon/__pycache__/

mmfashion/mmfashion/models/visibility_classifier/__pycache__/
